*.pdf 
*.png
*~
*.pyc
*.pdf
Scratch
chains
Results
.DS_Store
Notes
Review 
.tramp_history
._*
Paper/scratch.tex
Notes.txt
Check_Executable_Files.py
Executable_Files.txt
Run_Files_With_Timeout.py
Time_Taken_By_Each_Executable_Python_File.txt
Sort_Execution_Times.py
End_Result_File.txt
Process_Files.py
Map_Import_Relations.py
Checking.py
checkfile.txt
Import_Relations.txt
