*.pdf 
*.png
*~
*.pyc
*.pdf
Scratch
chains
Results
.DS_Store
Notes
Review 
.tramp_history
._*
Paper/scratch.tex
Notes.txt
Check_Executable_Files.py
Executable_Files.txt
Run_Files_With_Timeout.py
Time_Taken_By_Each_Executable_Python_File.txt
Sort_Execution_Times.py
End_Result_File.txt
Process_Files.py
Map_Import_Relations.py
Checking.py
checkfile.txt
Import_Relations.txt
Visual_Map_for_Important_Relations.py
Visual_Map_for_Important_Relations_2.py
selmap2.py
smooth_maps/
newenv/
cosmolopy-0.4.1/
2025-06-21 17:28:52/
2025-06-21 04:23:29/
Data_new/mock.dat
Cosmolopy?.numbers
Make_Selection_Map_2019+.py
bins_lfs.npy
bins_lfs_old_data.npy
bins_lfs_old_data.npy
*.pbs
sync_to_cluster.sh
convert_images_to_gifs.py
commits.txt
Run_Tests_For_rhoqso.py
Run_Selmap_For_All_Files_In_Data_new.py
Run_Selmap_summary.txt
Run_Selmap2_For_All_INPUTS_GIVEN.py
Run_tiling_For_All_Files_in_smooth_maps.py
Summary Plotn Data.rtf
CHECK.py
Global_QLF_Estimate_using_logprob.dat
Global_QLF_Estimate.dat
*_sample.npy
*.gif
smooth_maps/2019+/
Data_2019+/
Data_2019+_RAW/
bins_check.dat
myfiles.txt
data_points.dat
requirements.txt
check.dat
check1.py
check2.py
summa.py
# Trivia: Summa means rough work or for no reason in tamil

# Ignore all .npy files
*.npy

# But do not ignore these specific files
!bins_lfs_mini.npy
!mcmc_full_last_state.npy
!lfg1.npy
!bins_lfs_ultra_new_2.npy

