astropy==4.3.1
corner==2.2.1
cosmolopy==0.4.1
cycler==0.12.1
emcee==3.1.6
kiwisolver==1.4.7
matplotlib==3.4.3
numpy==1.21.6
Pillow==8.3.2
pyerfa==2.0.0.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
scipy==1.7.1
six==1.17.0
